* {
  margin: 0;
  padding: 0;
}

.iconos {
  width: 30px;
  height: 30px;
}
.iconos:hover {
  background-color: gray;
}

/* https://codepen.io/carlosriera/pen/qNgrEo */
header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.725);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 2;
}
header .menu_left #check_left {
  display: none;
}
header .menu_left #check_left:checked ~ .ul_left {
  left: 0;
  transition: all 0.25s;
}
header .menu_left #check_left:not(checked) ~ ul {
  left: -100%;
  transition: all 0.25s;
}
header .menu_left .check_label_left .menu {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
header .menu_left .check_label_left .menu h2 {
  font-size: 12px;
  color: white;
}
header .menu_left ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px;
  left: -100%;
  background: rgba(0, 0, 0, 0.929);
  width: 100%;
  height: 100vh;
  right: 0;
}
header .menu_left ul li {
  margin-right: 1rem;
  padding: 15px;
  display: flex;
  margin: 0;
}
header .menu_left ul li a {
  color: rgb(255, 255, 255);
}
header .menu_left ul li:hover a {
  background-color: red;
}
header .menu_right #check_right {
  display: none;
}
header .menu_right #check_right:checked ~ ul {
  right: 0;
  transition: all 0.25s;
}
header .menu_right #check_right:not(checked) ~ ul {
  right: -100%;
  transition: all 0.25s;
}
header .menu_right .check_label_rigth .menu-icon {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
header .menu_right .check_label_rigth .menu-icon img {
  width: 30px;
  border-radius: 2px;
}
header .menu_right ul {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 70px;
  right: -100%;
  background: rgba(0, 0, 0, 0.832);
  width: 100%;
  height: 100vh;
  right: 0;
  color: white;
}
header .menu_right ul li {
  margin-right: 1rem;
  padding: 15px;
  display: flex;
  margin: 0;
}
header .menu_right ul li a {
  color: #fff;
}

.main_index .contedor_img_muestra .img_muestra_grande {
  display: flex;
  justify-content: center;
}
.main_index .contedor_img_muestra .img_muestra_grande .img_muestra {
  width: 90%;
  max-width: 500px;
}
.main_index .contedor_img_muestra .img_muestra_grande .mover_img_L {
  width: 40px;
  height: 40px;
  align-self: center;
  position: absolute;
  left: 30px;
}
.main_index .contedor_img_muestra .img_muestra_grande .mover_img_L:hover {
  transform: scale(2);
}
.main_index .contedor_img_muestra .img_muestra_grande .mover_img_R {
  width: 40px;
  height: 40px;
  align-self: center;
  position: absolute;
  right: 30px;
}
.main_index .contedor_img_muestra .img_muestra_grande .mover_img_R:hover {
  transform: scale(2);
}
.main_index .contedor_img_muestra .img_muestra_chica {
  display: flex;
  justify-content: center;
}
.main_index .contedor_img_muestra .img_muestra_chica .img_muestra {
  width: 60px;
  margin: 5px;
  transform: translate(0, -25px);
  border: 1px solid rgb(43, 49, 226);
}

/*# sourceMappingURL=estilo.css.map */
